/* .page {
    align-items: center;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
} */
video {
    height:100%;
    width:100%;
    position:relative;
    top: 0;
    left: 0;
    object-fit: fill;
    z-index: 0;
}

.starts {
    z-index: 1;
}

.video-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


